html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: rgba(204, 204, 204, 0.3);
  margin: 0;
  font-size: 12px;
  color: #323232;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.container {
  width: 1370px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}
.search-form {
  margin-top: 20px;
}
.search-input {
  width: 190px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 12px;
  transition: width 0.4s ease-in-out;
}

.search-input:focus {
  width: 30%;
}
.gallery {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

.photo-card {
  flex-basis: calc(100% / 4 - 17px);
  margin-right: 20px;
  margin-top: 30px;
}

.photo-card:nth-child(4n) {
  margin-right: 0px;
}
.stats {
  display: flex;
  justify-content: space-around;
}
.stats-item {
  display: flex;
  align-items: center;
}
.material-icons {
  margin-right: 5px;
}

.button {
  background-color: #ffffff;
  padding: 16px 32px;
  text-align: center;
  font-weight: 400;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.2s;
  cursor: pointer;
  border: 2px solid #ccc;
  color: #a1a1a1;
}

.button:hover {
  background-color: #ccc;
  color: white;
}

.button.is-hidden {
  display: none;
}

img {
  cursor: pointer;
  border-radius: 3px;
  transition: transform 210ms ease-in-out;
}

img:hover {
  transform: scale(1.04);
  box-shadow: 4px 7px 24px 8px rgba(29, 29, 27, 0.11);
}
